
body {
    background-color: #474545; /* Color de fondo oscuro */
    color: #fff; /* Color de texto blanco */
  }
 
  button{
    background: black;
    cursor: pointer;
    border: none;
    padding: 10px 20px;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    border-radius: 12px;
  }
  button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        45deg,
        red, blue, deeppink, blue,
        red, blue, deeppink, blue
    );
    background-size: 800%;
    border-radius: 10px;
    filter: blur(8px);
    animation: glowing 20s linear infinite;
}

  @keyframes glowing{
    0%{
        background-position: 0, 0;
    }
    50%{
        background-position: 400% 0;
    }
    100%{
        background-position: 0, 0;
    }
  }
 
.navbar-brand {
    display: inline-block; /* Para que el texto se comporte como un bloque */
    width: 100%; /* Opcional: asegura que el ancho del span sea del 100% */
    text-align: center; /* Centra el texto horizontalmente */
    font-size: 24px;
  }
  #btn-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000; /* Ajusta según sea necesario para asegurar que esté por encima del contenido */
    padding: 10px; /* Opcional: agrega un poco de espacio alrededor del contenedor */
  }
  
  .container {
    margin-bottom: 50px; /* Ajusta según la altura del contenedor de botones */
  }
  
 
 .navbar{
    background-color: #c8c6c6;
 }
 /* CSS */
.navbar {
  background-image: linear-gradient(to bottom right, #0e2b56, #172a45);
  color: #fff; /* Color del texto */
  font-family: 'Roboto', sans-serif; /* Tipografía futurista */
}

.navbar-brand {
  font-size: 24px; /* Tamaño de la fuente */
  font-weight: bold;
  transition: transform 0.3s; /* Transición suave para el efecto hover */
}

.navbar-brand:hover {
  color: #19d4ca; /* Cambiar el color al pasar el cursor */
  text-shadow: 0 0 10px red, 0 0 10px blue, 0 0 10px deeppink; /* Agregar sombra con colores */
  transform: scale(1.1); /* Agrandar ligeramente al pasar el cursor */
}
.blue-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle, red, blue, deeppink, blue);
  background-size: 400% 400%; /* Tamaño del degradado */
  animation: gradientAnimation 10s linear infinite; /* Animación del degradado */
  opacity: 0;
  transition: opacity 0.3s ease;
}
.blue-loader{
  border: 16px solid #f3f3f3; /* Gris claro */
  border-top: 16px solid #3498db; /* Azul */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  display: none;
  position: fixed; /* Posición fija para centrarlo */
  top: 50%; /* Ajuste para centrarlo verticalmente */
  left: 50%; /* Ajuste para centrarlo horizontalmente */
  transform: translate(-50%, -50%); /* Ajuste final para centrarlo completamente */
}
@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 300px; /* Ancho deseado para cada tarjeta */
  height: 400px; /* Alto deseado para cada tarjeta */
  margin: 10px; /* Espacio entre las tarjetas */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc; /* Añade un borde opcional */
  border-radius: 8px; /* Añade bordes redondeados */
}

.card img {
  width: 100%; /* Tamaño fijo para la imagen */
  height: 300px; /* Altura fija para la imagen */
  object-fit: cover; /* Para ajustar la imagen dentro de su contenedor manteniendo las proporciones */
}

.card-body {
  padding: 20px;
  text-align: center;
  flex: 1; /* Para que el cuerpo de la tarjeta ocupe el espacio restante */
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff; /* Color de fondo de la barra de navegación */
  z-index: 1000; /* Asegura que la barra esté por encima de otros elementos */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.navbar-brand {
  font-size: 1.5rem; /* Tamaño de la fuente del nombre de la marca */
  font-weight: bold;
  color: #333; /* Color del texto */
}





































 
 
 
 
 
 
 
 



  
  
  
 

 
 
 
 
 
 
 
 